[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=4.4.0"
pytest_mock = "~=1.10"
pytest-pudb = "==0.7.0"
pytest-cov = "~=2.6.1"

[packages]
appdirs = "~=1.4.3"
click = "~=7.0"
dulwich = "==0.19.11"
pillow = "~=6.2.0"
pyautogui = "~=0.9.38"
pyperclip = "~=1.7.0"
pypng = "~=0.0.18"
pyqrcode = "~=1.2.1"
python-gnupg = "~=0.4.3"

[requires]
python_version = "3.7"
