[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=5.4.3"
pytest_mock = "~=3.1"
pytest-pudb = "==0.7.0"
pytest-cov = "~=2.10.0"

[packages]
appdirs = "~=1.4.4"
click = "~=7.1"
dulwich = "==0.20.5"
pillow = "~=7.1.2"
pyautogui = "~=0.9.51"
pyperclip = "~=1.8.0"
pypng = "~=0.0.20"
pyqrcode = "~=1.2.1"
python-gnupg = "~=0.4.6"

[requires]
python_version = "3.7"
